<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>İletişim Formu</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
</head>
<body>
    <div id="app" class="container mt-5">
        <h1 class="mb-4">İletişim Formu</h1>
        <form @submit.prevent="handleSubmit">
            <div class="form-group">
                <label for="name">Adınız</label>
                <input type="text" class="form-control" id="name" v-model="formData.name">
            </div>
            <div class="form-group">
                <label for="email">Email adresiniz</label>
                <input type="email" class="form-control" id="email" v-model="formData.email">
            </div>
            <div class="form-group">
                <label for="message">Mesajınız</label>
                <textarea class="form-control" id="message" v-model="formData.message"></textarea>
            </div>
            <div class="form-group">
                <br>
                <b>Eğitim Durumunuzu Seçiniz :</b> <br>
                <input type="radio" name="okul[]" id="okul1" value="Ön Lisans">Önlisans  <br>
                <input type="radio" name="okul[]" id="okul2" value="Lisans">Lisans <br>
                <input type="radio" name="okul" id="okul3" value="Yüksek Lisans">Yüksek Lisans
                <br>
                <br>
              </div>
              
              <div>
              
                <br>
              
                <b> Okuduğunuz Üniversiteyi Seçiniz (Sadece Sakarya'da okuyanlar işaretlemeli): </b> <br>
                  
                <select name="universiteler" v-model="formData.universiteler">
                  <option value="" v-model="formData.universiteler">-</option>
                  <option value="Sakarya Üniversitesi" v-model="formData.universiteler">Sakarya Üniversitesi</option>
                  <option value="Sakarya Uyg. Bil. Üniversitesi" v-model="formData.universiteler">Sakarya Uyg.Bil.Üniversitesi</option>
                  
                 </select>
            </div>
            <div>
               
              
                      <br>
                      <br>
              
              </div>
            <button type="submit" class="btn btn-primary">Gönder</button>
            <button type="button" class="btn btn-secondary" @click="resetForm">Temizle</button>
        </form>
    </div>

    <script src="js/contact.js">

    </script>
</body>
</html>